{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block main %}

    {% csrf_token %}
    <div class="card mb-4">
        <div class="card-header">
            {{ list.info_product }}
        </div>
        {% for list in my_product %}
            <div class="card-body">
                <div class="product">
                    <div class="product-image">
                        <img class="" src="{{ list.info_product.image.url }}" alt="">
                    </div>
                    <h5 class="card-title">{{ list.info_product.name }} {{ list.info }}</h5>
                    <p class="card-text">Пользователь: {{ list.info_user }}</p>
                    <p class="card-text">Цена за единицу: {{ list.info_product.price }}$</p>
                    <p class="card-text">Количество: {{ list.quantity_by_product }}</p>
                <div>
                    {% if list.is_returned %}
                        <sp>Запрос на возврат <strong>{{ list.returns.id }}</strong></sp>
                        <p>{{ list.is_returned }}</p>
                    {% else %}
                        <sp>{{ list.is_returned }}</sp>
                        <form action="{% url 'my_purchase_returns' list.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" value="Return purchase">Вернуть</button>
                            {#<input class="btn btn-light" type="submit" value="Вернуть товар">#}
                        </form>
                    {% endif %}
                </div>
            </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}