{% extends 'base.html' %}

{% block main %}

         <div class="card mb-4">
    <div class="card-header">
        {{ list.info_product }}
    </div>
          {% for return_list in returns_product %}
    <div class="card-body">
        <h5 class="card-title">{{ return_list.id }} {{ return_list.return_product }}</h5>
        <p class="card-text">{{ return_list.name }}</p>


                 <form action="#" method="post">
                {% csrf_token %}

                <input class="btn btn-light" type="submit" value="Принять">
                </form>
            </div>
    </div>
     {% endfor %}
</div>

{% endblock %}
