{% extends 'base.html' %}

{% block content %}
    <div class="card d-block mx-auto" style="width: 18rem;" xmlns="http://www.w3.org/1999/html">
        <div class="card-body">
            <h5 class="card-title">{{ statement.topic }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Важность: {{ statement.text }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Пользователь: {{ statement.user }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ statement.text }}</h6>
            <p class="card-text"></p>
            <div class="btn-group">
            </div>
            {% for comments in newcomments %}
                <div class="comment">
                    <p class="info">
                        Comment {{ forloop.counter }} by {{ comments.author }}
                    </p>
                    {{ comments.content|linebreaks }}
                </div>
            {% empty %}
                <p>There are no comments yet.</p>
            {% endfor %}
            <h2>Add a new comment</h2>
            <form action="{% url 'comment_create' %}" method="post">
                {% csrf_token %}
                <p><label for="id_content">Comment</label></p>
                <textarea class="form-control ms-3" name="content" cols="40" rows="10" maxlength="255" required="" id="id_content"></textarea>
                <input type=hidden name="statement" value={{ statement.id }}>
                <p><input type="submit" value="Add comment"></p>
            </form>
        </div>
    </div>
{% endblock %}
