{% extends 'base.html' %}

{% block content %}
    {% for list in lists %}
        <div class="card d-block mx-auto" style="width: 18rem;" xmlns="http://www.w3.org/1999/html">
            <div class="card-body">
                <h5 class="card-title">{{ list.topic }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Важность: {{ list.get_importance_display }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Пользователь: {{ list.user }}</h6>
                <p class="card-text">{{ list.text }}</p>
                <div class="btn-group">
                    {% if list.progress %}
                        <p>{{ list.progress }}</p>
                    {% else %}
                        <sp>{{ list.progress }}</sp>
                        {% if request.user.is_superuser %}
                        <form action="{% url 'accept_decision' list.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm">Принять</button>
                            <input type="hidden" name="is_active" value="1">
                        </form>
                        <form action="{% url 'reject_decision' list.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm">Отклонить</button>
                            <input type="hidden" name="is_active" value="0">
                            <input class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-sm" type="text" name="cause" maxlength="100"
                                   id="id_cause">
                        </form>
                            {% endif %}
                        <div>
                        {% if not request.user.is_superuser %}
                         <p>   <a href="{% url 'statement_change_url' list.pk %}" class="btn btn-secondary btn-sm">изменить</a>
                             {% endif %}
                            <a href="{% url 'statement_detail_url' list.pk %}" class="btn btn-secondary btn-sm">Подробнее</a>
                         </p>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}
