<!doctype  html>
<html  lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Shop</title>
    {% if user.username %}
    <a href="{% url 'logout_url' %}">Выйти</a>
    {% else %}
    <a href="{% url 'login_url' %}">Войти</a>
        <a href="{% url 'register_url' %}">Зарегистрируйся</a>
{% endif %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
</head>
<body>
  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
      <h1  class="text-center">Online Shop</h1>
      {% block main %}
      {% endblock %}
      </div>
    </div>
  </div>

<form method="post" action="{% url 'product_create_url' %}">
     {{ create_form }}
     {% csrf_token %}
     <input class="btn btn-primary" type="submit" value="Создать">
     </form>
 <a href="{% url 'my_buy_product_url' %}" class="btn btn-primary">Товары</a>
</body>
</html>
